body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: large;
    background: #f0f0f0;
}

header {
    background:linear-gradient(to right, #023774, #0b0125);
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin: 0;
}

section {
    padding: 30px 8%;
}

nav a{
    text-decoration: none;
    margin: 0;
    height: 45px;
    justify-content: space-around;
    align-items: center;
    background:black;
    color:wheat;
    padding: 10px 8%;
    display: flex;
    gap: 3px;
    font-size: 11px;
}
h3 {
    color: #002b5c;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #01306d;
    color: black;
}

.total {
    font-weight: bold;
    background: #eaf1ff;
}

ul {
    background: white;
    padding: 20px;
    border-radius: 6px;
}

footer {
    background: #002b5c;
    color: white;
    text-align: center;
    padding: 15px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    width: 60%;
    background: white;
    padding: 0px;
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
}

.sidebar a:hover {
    background: #00509e;
    padding: 5px;
}
.main {
    margin-left: 240px;
    padding: 30px;
    width: 100%;
}
table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
            text-align: center;
        }
        button {
            padding: 10px 15px;
            cursor: pointer;
        }
        .container{
padding:20px;
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

body{
font-family: Arial;
text-align:center;
}
html{
scroll-behavior:smooth;
}